[Unit]
Description=The staging webapp service.
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/home/yakov/staging-helvetia/webapp-staging.sh
WorkingDirectory=/home/yakov/staging-helvetia
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
User=yakov

